﻿<div>
    <div>
        Thanks $$DisplayName$$,
    </div>
    <center>
        <p>
            You signing up for a
            <b style="color:#1ba47f">ZOWARAH</b> account! To activate your account, click the button below
            to confirm your email address.
        </p>      
        <a href="$$confirmHref$$"  class="confirm-btn">Confirm Email</a>
    </center>   
</div>