﻿<div>
    <p style="font-size: 32px;font-weight: 600;">
        Thanks, $$ProviderName$$
    </p>
    <p style="font-size: 20px;margin: 0 0 20px;">Your Payment for $$ServiceName$$ is confirmed.</p>
    <div class="form-group cust-form-group-spacing">
        <p class="cust-icon-label"> Payment Details </p>
        <hr>
        <div class="cust-div">
            <span class="cust-label">Bank: </span>
            <span class="cust-label"> $$Bank$$</span>
        </div>
        <div class="cust-div">
            <span class="cust-label">Reference: </span>
            <span class="cust-label"> $$Reference$$</span>
        </div>       
        <div class="cust-div">
            <span class="cust-label">Amount: </span>
            <span class="cust-value">$$Amount$$</span>
        </div>
        <div class="cust-div">
            <span class="cust-label">Account No: </span>
            <span class="cust-value">$$AccountNo$$</span>
        </div>
        <div class="cust-div">
            <span class="cust-label">Date: </span>
            <span class="cust-value">$$Date$$</span>
        </div>
    </div>
</div>