﻿<div>
    <p style="font-size: 32px;font-weight: 600;">
        Thanks, $$FirstName$$
    </p>
    <p style="font-size: 20px;margin: 0 0 20px;">Your booking at $$HotelName$$ is confirmed.</p>
    <div class="form-group cust-form-group-spacing">
        <p class="cust-icon-label"> Confirmation Details </p>
        <span class="cust-icon-label">Person Details</span>
        <hr>
        <div class="cust-div">
            <span>Name: </span>
            <span class="cust-label">$$Title$$. </span>
            <span class="cust-label">$$FirstName$$</span>
            <span class="cust-label"> $$LastName$$</span>
        </div>
        <div class="cust-div">
            <span>Email: </span>
            <span class="cust-label">$$Email$$</span>
        </div>
        <br>
        <span class="cust-icon-label">Date</span>
        <hr>
        <div class="cust-div">
            <span class="cust-label">Checkin Date: </span>
            <span class="cust-value">$$CheckinDate$$</span>
        </div>
        <div class="cust-div">
            <span class="cust-label">Checkout Date: </span>
            <span class="cust-value">$$CheckoutDate$$</span>
        </div>
        <br>
        <span class="cust-icon-label">Hotel Room</span>
        <hr>
        <div class="cust-div">
            <span class="cust-label">Hotel: </span>
            <span class="cust-value">$$HotelName$$</span>
        </div>       
        <div class="cust-div">
            <span class="cust-label">No. Of Rooms: </span>
            <span class="cust-value">$$NoOfRooms$$</span>
        </div>
        <br>
        <span class="cust-icon-label">More Details</span>
        <hr>
        <div class="cust-div">
            <span class="cust-label">Special Request</span>
            <span class="cust-value">$$SpecialRequest$$</span>
        </div>
        <div class="cust-div">
            <span class="cust-label">Arrival Time: </span>
            <span class="cust-value">$$Arrival Time$$</span>
        </div>
    </div>
</div>