﻿<div>
    <div>
        Thanks $$DisplayName$$,
    </div>
    <center>
        <p>
            Hi, click link below to Reset Your Password..
        </p>
        <br />
        <a href="$$confirmHref$$" class="btn btn-success btn-lg">Reset Password</a>
    </center>
</div>