﻿<div>
    <div>
        Dear Partner,
    </div>
    <center>
        <p>
            Your Service "$$ServiceName$$" Invoice for $$Month$$/$$Year$$ has been Created
        </p>
        <p>
            for more details please click the button below
        </p>
       <!-- <a href="http://52.230.1.71/providers/invoices" class="confirm-btn">Booking Details</a>-->
        <a href="http://88.99.227.71/providers/invoices" class="confirm-btn">Booking Details</a>
    </center>
</div>