﻿<div>
    <div>
        Dear $$ProviderName$$,
    </div>
    <div>
        Welcome! Your request for Add your Perpoerty <b>$$PropertyName$$</b> to <b style="color:#1ba47f">ZOWARAH Properties</b> is Approved.
    </div>
</div>