﻿<div>
    <p style="font-size: 32px;font-weight: 600;">
        Dear $$ProviderName$$,
    </p>
    <p style="font-size: 20px;margin: 0 0 20px;">The $$GuestName$$ reviewed the $$HotelName$$:</p>

    <br>
    <span class="cust-icon-label">Review:</span>
    <hr>
    <div>
        <div class="cust-div">
            <span>Title: </span>
            <span class="cust-label">$$Title$$</span>
        </div>
        <br>
        <div class="cust-div">
            <span>Comment: </span>
            <span class="cust-label">$$Comment$$</span>
        </div>
        <br>
        <div class="cust-div">
            <span>Score: </span>
            <span class="cust-label">$$Rate$$</span>
        </div>
        <br>
        <div class="cust-div">
            <span>Date: </span>
            <span class="cust-label">$$Date$$</span>
        </div>       
       
    </div>
</div>