﻿<div>
    <p style="font-size: 32px;font-weight: 600;">
        Dear $$GuestName$$
    </p>
    <p style="font-size: 20px;margin: 0 0 20px;">The $$HotelName$$ reply on your review:</p>
    <div class="cust-div">
        <span>Reply: </span>
        <span class="cust-label">$$ReplyComment$$</span>
    </div>
    <div class="cust-div">
        <span>Reply Date: </span>
        <span class="cust-label">$$ReplyDate$$</span>
    </div>    
    <br>
    <span class="cust-icon-label">Review:</span>
    <hr>
    <div>
        <div class="cust-div">
            <span>Title: </span>
            <span class="cust-label">$$Title$$</span>
        </div>
        <br>
        <div class="cust-div">
            <span>Comment: </span>
            <span class="cust-label">$$Comment$$</span>
        </div>
        <br>
        <div class="cust-div">
            <span>Score: </span>
            <span class="cust-label">$$Rate$$</span>
        </div>
    </div>
</div>