﻿<div>
    <div>
        Dear $$ProviderName$$,
    </div>
    <div>
        Welcome! Your request for Service <b>$$PropertyName$$</b> to <b style="color:#1ba47f">Zowarah.com </b> is $$ServiceStatus$$.
    </div>
</div>