﻿<div>
    <div>
        <div>
            Dear $$title$$ $$FirstName$$,
        </div>
        <center>
            <p>
                You Booking Status at $$HotelName$$ has been changed as $$Status$$
            </p>
            <p>
                for more details please click the button below
            </p>
            <!--<a href="http://52.230.1.71/clients/services" class="confirm-btn">Booking Details</a>-->
            <a href="http://88.99.227.71/clients/services" class="confirm-btn">Booking Details</a>
        </center>
    </div>
