<div>
    <div>
        Thanks, $$FirstName$$
    </div>
    <center>
        <p>
            Admin signing up for a
            <b style="color:#1ba47f">ZOWAR</b> account!Login your account:
        </p>
		username: <b>$$Email$$</b><br>
		password : <b>Abc@123</b>
       
    </center>   
</div>